@media only screen and (min-width: 470px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
    }

    .navigationBar {
        background-color: black;
    }

    nav {
        position: unset;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
    }

    h1.middle-header {
        display: grid;
        grid-column: span 3;
    }

    div.events {
        display: none;
    }

    section.middle-box {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        width: 90%;
    }

    article.members-cards,
    article.members-level {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 90%;
        margin: 0 auto;
        gap: 1em;
    }

    article.memberCard,
    article.memberLevelCard {
        padding: 0.8em;
        margin: 0 auto;
        text-align: center;
    }

    article.list.address {
        display: flex;
        flex-direction: row;
    }

    .list div img {
        display: flex;
        width: 10%;
    }

    section .believe-data {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
    }

    .believe-data img {
        width: 50%;
    }

    .list div .phone {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list div .founded {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    div.socialMedia {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    div.events {
        display: inline;
    }

    section.middle-box {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        margin: 0 auto;
        width: 90%;
    }

    article.members-cards,
    article.members-level {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap: 1em;
    }

    .list div .phone {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list div .founded {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: 32% 32% 32%;
    }

    div.socialMedia {
        display: flex;
    }

    .form-and-levels{
        display: grid;
        grid-template-columns: 45% 55%;
        margin: 0 auto;
        width: 98%;
    }

    .form-and-levels h2{
        text-align: center;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}