@media only screen and (min-width: 470px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr;
    }

    .navigationBar{
        background-color: black;
    }

    nav {
        position: unset;
        width: 100%;
    }

    nav ul {
        flex-direction: row;
    }

    h1.middle-header {
        display: grid;
        grid-column: span 3;
    }

    div.events{
        display: none;
    }

    section.middle-box {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0 auto;
        width: 90%;
    }

    article.members-cards{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 90%;
        margin: 0 auto;
        gap: 1em;
    }

    article.memberCard{
        padding: 0.8em;
        margin: 0 auto;
        text-align: center;
    }

    article.list.address{
        display: flex;
        flex-direction: row;
    }

    .list div img {
        display: flex;
        width: 10%;
    }

    footer {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    div.socialMedia{
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    div.events{
        display: inline;
    }
    
    section.middle-box {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        margin: 0 auto;
        width: 90%;
    }

    article.members-cards{
        display: grid;
        grid-template-columns: 32% 32% 32%;
        gap: 1em;
    }

    .list div .phone{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .list div .founded{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer {
        display: grid;
        grid-template-columns: 32% 32% 32%; 
    }

    div.socialMedia{
        display: flex;
    }
}