/* General Reset */
* {
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background: #174e70;
    color: #fff;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

.headerContent {
    display: flex;
    gap: 1em;
    text-align: left;
    justify-content: left;
    margin: 0 auto;
    padding-bottom: 1.5em;
    align-items: center;
}

.trademark {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 2rem;
}

.headerimage {
    max-width: 15%;
}

/* Navigation Styling */
.navigationBar {
    background: #174e70;
}

#menu {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: white;
    font-family: "Roboto";
}

#menu::before {
    content: "≡";
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 48em;
    text-align: right;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    font-family: "Roboto";
    text-decoration: none;
    text-align: right;
    padding: 1em;
    font-weight: 700;
    transition: 0.5s;
}

.navigation a:hover {
    color: #174e70;
    background-color: white;
}

.show li {
    display: block;
}

#menu {
    text-align: right;
}

#menu.show::before {
    content: "x";
}

/* Body Styling */
main {
    margin: 0 auto;
}

div.hero-image {
    text-align: center;
    position: relative;
}

div.hero-image img {
    width: 99%;
    height: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.hero-image p {
    position: absolute;
    top: 75%;
    right: 5%;
    color: white;
    font-size: 90%;
    font-family: "Roboto";
}

div.hero-image a {
    text-decoration: none;
    font-weight: 900;
    color: white;
    background-color: #174e70;
    padding: 0.5em;
    border-radius: 0.3em;
}

/* Middle Box Styling */
.middle-header {
    padding-top: 0.3em;
    font-family: "Roboto";
    color: #174e70;
}

section.middle-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding: 1em;
}

.events p {
    padding: 1em;
    overflow: hidden;
    word-wrap: break-word;
}

div.events,
div.weather,
div.forecast {
    border: 2px solid #174e70;
    border-radius: 5px;
}

div.events h2,
div.weather h2,
div.forecast h2 {
    background-color: #174e70;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    overflow: hidden;
    word-wrap: break-word;
}

div.weather-details,
div.forecast-details {
    padding: 0.5em;
}

div.forecast-box {
    display: grid;
    grid-template-columns: 40% 50%;
}

div.forecast-box img {
    width: 100%;
    padding: 0.5em;
}

.believe-data img {
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

.believe-data h2 {
    text-align: center;
}

/* Members Box Styling */
.members-cards,
.members-level-cards {
    display: flex;
    padding: 1em;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    flex-wrap: wrap;
}

.memberCard,
.memberLevelCard {
    text-align: center;
    background-color: #1b8fd817;
    border-radius: 0.3rem;
    margin: 0 auto;
    padding: 1rem;
}

.memberCard h3,
.memberLevelCard h3 {
    font-family: "Pacifico", serif;
    font-size: 1.2em;
}

.memberCard h4,
.memberLevelCard h4 {
    font-family: "roboto", serif;
    font-size: 0.7em;
    padding: 2%;
}

.memberCard hr,
.memberLevelCard hr {
    width: 80%;
    margin: 0 auto;
}

.memberCard img {
    width: 50%;
    padding: 0.5rem;
}

.memberCard p,
.memberLevelCard p {
    text-align: left;
    font-size: 90%;
    overflow: hidden;
    word-wrap: break-word;
}

/* Grid Styling */
.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

/* List Styling */
.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.list h3 {
    font-family: "roboto", sans-serif;
    font-size: 90%;
}

.list .memberCard,
.list .memberLevelCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    gap: 1em;
}

.list div p {
    gap: 1em;
}

.list div img,
.list div .address,
.list div .phone,
.list div .url,
.list div .founded {
    display: none;
}

.list div:nth-child(even) {
    background-color: white;
}

.list div.memberCard {
    margin: 0 auto;
    justify-content: center;
    border-radius: 0;
}

article.members-cards.list {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 90%;
}

section .believe-data h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 2rem;
    padding: 0.5rem;
}

section .believe-data p {
    font-family: "roboto", serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Footer Styling */
footer {
    background: #174e70;
    color: white;
    padding: 1rem;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.socialMedia img {
    width: 60%;
}

.contact,
.copyRight {
    padding: 1em;
}

/*Form*/
section registration-form {
    margin-top: 1rem;
}

.registration-form {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #555;
}

input,
select,
textarea {
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background: #f9f9f9;
    outline: none;
    transition: 0.3s;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #174e70;
    background: #fff;
}

button.formBtn {
    width: 100%;
    padding: 0.8rem;
    background-color: #174e70;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-left: 5px solid red;
}

input:valid,
select:valid,
textarea:valid {
    border-left: 5px solid green;
}

.membership-levels {
    text-align: center;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}

h2 {
    color: #333;
    margin-bottom: 1rem;
}

.card-container {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card {
    animation: slideUp 3s ease-out;
    animation-fill-mode: both;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.3s;
}

.card:nth-child(3) {
    animation-delay: 0.5s;
}

.card:nth-child(4) {
    animation-delay: 0.7s;
}

@keyframes slideUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.card h3 {
    margin-bottom: 0.5rem;
    color: #174e70;
}

.card p {
    color: black;
    font-size: 0.9rem;
}

.details-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #174e70;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background 0.3s;
}

.details-btn:hover {
    background-color: #0056b3;
}

.membModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.membModalContent {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    width: 50%;
}


/* Forms */
.thankyouContent {
    width: 90%;
    margin: 0 auto;
}


/* Discover */
h1.middle-header{
    padding-left: 1rem;
    font-family: "pacifico", cursive;
    font-weight: 400;
}

.message{
  width: 100%;
  background: #0057b356; /* rojo alerta */
  color: black;
  text-align: center;
  padding: 0.5rem 0;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.placeCard{
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.placesContainer{
    display: grid;
    padding: 1.5rem;
    gap: 1em;
}

.placesContainer img{
    width: 90%;
    max-width: 640px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1024px;
}

.placesContainer h2{
    text-align: center;
    font-family: "roboto", serif;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.placesContainer p{
    text-align: center;
    font-family: "roboto", serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0.5rem;
}

.placebtn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 8px;
    background-color: #174e70;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .placebtn:hover {
    background-color: #333;
  }
  
  .placebtn-outline {
    background-color: transparent;
    color: #111;
    border: 2px solid #111;
  }
  
  .placebtn-outline:hover {
    background-color: #111;
    color: white;
  }